<div class="row">
  <div class="col-3">
    <%= tweet.body %>
  </div>
  <div class="col-3">
    likes: <%= tweet.likes %>
  </div>
  <div class="col-3">
    retweets: <%= tweet.retweets %>
  </div>
</div>
