<div class="row">
  <div class="col-sm-6">
    <h1>Tweets</h1>
  </div>

  <div class="col-sm-6 text-right">
    <%= render 'form', tweet: Tweet.new %>
  </div>
</div>

<%= turbo_stream_from 'tweets' %>
<%= turbo_frame_tag 'tweets' do %>
  <%= render @tweets %>
<% end %>
