<h1>Welcome to Working Hours System!</h1>
<p class="lead">Use this project as a way to quickly record your working time.<br>
  You can easily manage your time which provides you opportunity<br>
  to work in flexi-time schedule.
</p>

<div>
  <% if user_signed_in? %>
    <% if current_user.can_start_timer? %>
      <%= link_to 'Start timer', start_timer_path, class: 'btn btn-primary' %>
    <% else %>
      <%= link_to 'End timer', end_timer_path, class: 'btn btn-danger' %>
    <% end %>
  <% end %>
</div>
<%#= image_tag 'timer.png', class: 'm-5' %>