// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "jumpstart/sticky-footer";
@import "jumpstart/announcements";
@import "simple_calendar";

// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

// Masquerade alert shouldn't have a bottom margin
body > .alert {
  margin-bottom: 0;
}
//body {
//  background: #8e9eab;  /* fallback for old browsers */
//  background: -webkit-linear-gradient(to right, #abebfa, #b7c5ca);  /* Chrome 10-25, Safari 5.1-6 */
//  background: linear-gradient(to right, #94e8fc, #c9d2d6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//
//}